{% extends "app.twig" %}

{% block content %}
    <header class="page-header">
        <h1 id="tables">Synchronizations</h1>
    </header>

    <div class="error-container clearfix hidden" id="error-container">
        <pre id="error-target"></pre>
        <div class="form-actions pull-right">
            <button class="btn btn-default" type="button" onclick="document.getElementById('error-container').classList.add('hidden')">Close</button>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Mirror</th>
                <th>Started On</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
        {% for item in syncs %}
            <tr id="id-{{ item.id }}">
                <td>
                    #{{ item.id }}
                </td>
                <td>
                    {% if item.wasSuccessful %}
                        <span class="status status-success">
                            <i>✅</i>
                        </span>
                    {% else %}
                        <button type="button" class="status status-failure" onclick="document.getElementById('error-target').innerHTML = document.getElementById('item-{{ item.id }}-error').innerHTML; document.getElementById('error-container').classList.remove('hidden'); window.scrollTo(0, 0)">
                            <i>⨯</i>
                        </button>
                        <div class="hidden" id="item-{{ item.id }}-error">{{ item.error }}</div>
                    {% endif %}
                </td>
                <td>
                    {% if item.mirror %}
                        {{ item.mirror.name }}
                    {% else %}
                        <code class="repo-src">{{ item.sourceUrl }}</code>
                        <br> → <br>
                        <code class="repo-src">{{ item.targetUrl }}</code>
                    {% endif %}
                </td>
                <td>{{ item.startedOn | calendar }}</td>
                <td>{{ item.duration | duration }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
