{% extends "app.twig" %}

{% block content %}
    <header class="page-header">
        <h1 id="tables">Synchronizations</h1>
    </header>

    <div class="error-container clearfix hidden" id="error-container">
        <div id="error-target"></div>
        <div class="form-actions pull-right">
            <button class="btn btn-default" type="button" data-purpose="hide-log">Close</button>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Flow</th>
                <th>Started On</th>
                <th>Duration</th>
                <th>Errors</th>
            </tr>
        </thead>
        <tbody>
        {% for item in syncs %}
            <tr id="id-{{ item.id }}">
                <td>
                    #{{ item.id }}
                </td>
                <td>
                    {% if item.wasSuccessful %}
                        <span class="status status-success">
                            <i>✅</i>
                        </span>
                    {% else %}
                        <span class="status status-failure">
                            <i>⨯</i>
                        </span>
                    {% endif %}
                </td>
                <td>{{ item.description }}</td>
                <td>{{ item.startedOn | calendar }}</td>
                <td>{{ item.duration | duration }}</td>
                <td>
                    <div class="hidden" id="item-{{ item.id }}-error">
                        <pre>{{ item.log|default('No output has been recorded') }}</pre>
                    </div>
                    <button type="button" class="btn btn-xs btn-{% if item.wasSuccessful %}default{% else %}danger{% endif %}"
                            data-purpose="show-log" data-id="{{ item.id }}">
                        Show Log
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="/static/js/sync.js"></script>
{% endblock %}
